---
import type { Movie } from "../interfaces/movies_interface";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { getMovies } from "../api/upcomingMovies";

const movies = await getMovies(1);
---

<Layout title="Welcome to Astro.">
	<header class="py-8"></header>

	<main class="container mx-auto">
		<ul role="list" class="grid lg:grid-cols-5 grid-cols-2 gap-4">
			{movies?.results.map((movie: Movie) => <Card movie={movie} />)}
		</ul>
	</main>
</Layout>
